/*Style Definition for the Loading Animation*/
.LoadingContainer {
  display: flex;  
  padding: 20px 20px 20px;
  text-align: center;
  align-content: center;
  background-color: #d8d8d8;
}

.LoadingContainer p {
  padding: 0 0 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.Load{
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: 150px;
}

.Line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #5f7161;
}

/* Animation Handler */
@keyframes loadingAnim {
  0 {
    height: 15px;
  }
  50% {
    height: 35px;
  }
  100% {
    height: 15px;
  }
}

.Load .Line:nth-last-child(1) {
  animation: loadingAnim 1.5s 1s infinite;
}
.Load .Line:nth-last-child(2) {
  animation: loadingAnim 1.5s 0.5s infinite;
}
.Load .Line:nth-last-child(3) {
  animation: loadingAnim 1.5s 0s infinite;
}
